body{


  text-align: center;

  background-image: url(images/fotomicro.jpg);
  background-size: 90vw 90vh;
}

fieldset {
  border-style: none;

}

h1 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size:250% ;
  color: blue;
}

p{
  font-family: 'Noto Sans SC', sans-serif;
  font-size:30px;
  color: white;


}
#mensajePlano, #clave, #resultadoC {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 40px;

}

#bcifrar ,#bdescifrar,#blimpiar {
  margin-top: 20px;
  margin-bottom:10px;
}
