body{
  font-family: sans-serif;
  color: yellow;
  text-align: center;
  background-image: url(https://humanaprincipiante.files.wordpress.com/2013/03/11701341-el-codigo-binario-de-datos-digital-de-fondo.jpg);
}
