body{


  text-align: center;
  background-image: url(images/fotomicro.jpg);
  background-size: cover;

}

fieldset {
  border-style: none;

}

h1 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size:200% ;
  color: blue;
  font-weight:800;
}

p{
  font-family: 'Noto Sans SC', sans-serif;
  font-size:150%;
  color: blue;
  font-weight:600

}
#mensajePlano, #clave, #resultadoC {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 40px;
  color:gray;
  width: 35%;
  border-radius: 20px;

}

#bcifrar ,#bdescifrar,#blimpiar {
  margin-top: 20px;
  margin-bottom:10px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: green;
}
